.main {
  display: grid;
  grid-template-areas: 'blinge christian' 'veronica siw' 'steffen petter';
  grid-gap: 40px;
}
.one {
  text-align: right;
  grid-area: blinge;
}
.two {
  text-align: left;
  grid-area: christian;
}
.three {
  text-align: right;
  grid-area: veronica;
}
.four {
  text-align: left;
  grid-area: siw;
}
.five {
  text-align: right;
  grid-area: steffen;
}
.six {
  text-align: left;
  grid-area: petter;
}
.imag{
  width: 200px;
  height: 200px;
}
.tags {
  font-weight: bold;
}
